<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-muted">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <!-- <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a> -->
        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.leomine.calculator" class="me-4 text-reset">
          <!-- <i class="fab fa-twitter"></i> -->
          <img src="../../../assets/images/playstore.png" height="18px" width="18px" alt="" srcset="">
        </a>
        <a target="_blank" href="https://chrome.google.com/webstore/detail/send-gmail-responses-chat/pnbdlckjhalfgeglinmkphomoeoigngn" class="me-4 text-reset">
          <!-- <i class="fab fa-google"></i> -->
          <img src="../../../assets/images/chrome.png" height="22px" width="22px" alt="" srcset="">
        </a>
        <!-- <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a> -->
        <a target="_blank" href="https://www.linkedin.com/in/kanhaiyakumar2909/" class="me-4 text-reset">
          <!-- <i class="fab fa-linkedin"></i> -->
          <img src="../../../assets/images/linkedin.png" height="18px" width="18px" alt="" srcset="">
       
        </a>
        <a target="_blank" href="https://github.com/Kanhaiya2909" class="me-4 text-reset">
          <!-- <i class="fab fa-github"></i> -->
          <img src="../../../assets/images/github_logo.png" height="22px" width="22px" alt="" srcset="">
       
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Kanhaiya Kumar
            </h6>
            <img src="../../../assets/images/ecommerce-logo.png" height="80px" width="280px" alt="" srcset="">
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a routerLink="/home/category/1" class="text-reset">Books</a>
            </p>
            <p>
              <a routerLink="/home/category/2" class="text-reset">Mouse Pad</a>
            </p>
            <p>
              <a routerLink="/home/category/3" class="text-reset">Coffee Mugs</a>
            </p>
            <p>
              <a routerLink="/home/category/4" class="text-reset">Luggage</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <!-- <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p> -->
            <p>
              <i class="fas fa-envelope me-3"></i>
              kanhaiyakumar2909@outlook.com
            </p>
            <p><i class="fas fa-phone me-3"></i>+91 9334676049</p>
            <!-- <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p> -->
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" target="_blank" href="https://kanhaiyakumar.me/">kanhaiyakumar.me</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->