.beauty_section {
    width: 100%;
    float: left;
    background-color: #faf8f8;
    height: auto;
    padding: 50px 0px;
}

.beauty_box {
    width: 100%;
    float: left;
    background-color: #ffffff;
    padding: 30px;
}

.seemore_bt_1 {
    width: 170px;
    float: right;
}
.seemore_bt_1 a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #373637;
    text-align: center;
    background-color: transparent !important;
    padding: 9px;
    text-transform: uppercase;
    margin-top: 50px;
    text-decoration: none;
}
.image_3 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: block;
    padding-top: 40px;
    min-height: 260px;
}


.bed_text {
    width: 100%;
    float: left;
    color: #131313;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.seemore_bt {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}

.seemore_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #373637;
    text-align: center;
    background-color: transparent !important;
    padding: 9px;
    text-transform: uppercase;
    margin-top: 50px;
    text-decoration: none;
}

.beauty_box_1 {
    width: 100%;
    float: left;
    background-color: #ffffff;
    padding: 30px;
}


.product_section {
    width: 100%;
    float: left;
    background: rgb(246, 243, 243);
}
.feature_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #373637;
    font-weight: bold;
    padding-top: 90px;
}

.feature_text {
    width: 100%;
    float: left;
    font-size: 16px;
    text-align: center;
    color: #373637;
    margin-left: 0px;
    margin-top: 0px;
}

.product_section_2 {
    width: 100%;
    float: left;
    padding-top: 90px;
}

.feature_box {
    width: 100%;
    float: left;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0px 1px 10px 1px #888888;
}

.image_7 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: block;
    padding-top: 20px;
}

.readable_text {
    width: 100%;
    float: left;
    font-size: 34px;
    text-align: center;
    text-transform: uppercase;
    color: #141414;
    font-weight: bold;
}

.feature_box_1 {
    width: 100%;
    float: left;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0px 1px 10px 1px #888888;
    margin-top: 20px;
}

.feature_box_2 {
    width: 100%;
    float: left;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0px 1px 10px 1px #888888;
}
.image_8 {
    width: 87.6%;
    margin: 0 auto;
    text-align: center;
    display: block;
    padding-top: 20px;
}



