<app-navbar></app-navbar>

<div class="col-md-6 offset-md-3 my-5">
<mat-card class="profile-card">
    <div class="userDetail">
    <div class="row rowprofile">
        
        <img src="https://raw.githubusercontent.com/Kanhaiya2909/ecommerce.kanhaiyakumar.me_images/main/profile.png" class="profile"  alt="" srcset="">
        <!-- <span class="icon"><i class="fa fa-edit"></i></span> -->
    
    </div>
    <div class="row" style="text-align: start;">
        <h1>Username : {{user.username}}</h1>
       <h1>Name : {{user.name}}</h1>
       <h1>Email: {{user.email}}</h1>
    </div>
    <div style="text-align: center; margin-bottom: 50px; margin-top: 20px;">
       <button mat-raised-button color="primary">Edit Profile
        <mat-icon>edit</mat-icon>
       </button>
     </div>
</div>
</mat-card>
</div>

<div class="col-md-8 offset-md-2 mt-5">
<div class="row">
    <div class="col-sm-4 mt-5">
        <mat-card>
            <h1>Hello</h1>
        </mat-card>
    </div>
    <div class="col-sm-4 mt-5">
        <mat-card>
            <h1>Hello</h1>
        </mat-card>
    </div>
    <div class="col-sm-4 mt-5">
        <mat-card>
            <h1>Hello</h1>
        </mat-card>
    </div>
    <div class="col-sm-4 mt-5">
        <mat-card>
            <h1>Hello</h1>
        </mat-card>
    </div>
    
</div>
</div>