.profile{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0px;
}

.profile-card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rowprofile{
    display: flex;
  align-items: center;
  justify-content: center;


// span.icon {
//     position: absolute;
//     background:#e2e2e2;
//     border-radius:100%;
//     width:30px;
//     height:30px;
//     line-height:30px;
//     vertical-align:middle;
//     text-align:center;
//     color:#0000ff;
//     font-size:14px;
//     cursor:pointer;
//   }
}