.checkForm{
    margin-top: 80px;
}

.navbar-text{
    padding-left: 80px;
    color: white;
}

.navbar{
    background: rgb(27, 26, 26);
}

.details-field{
    text-align: center;
    align-items: center;
    margin: 10px;
    width: 80%;
}

.details-pin{
    margin-left: 10px;
}

.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }