<app-navbar></app-navbar>
<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div *ngIf="cartItems.length > 0">
                <table class="table table-bordered">
                    <tr>
                        <th width="20%">Product Image</th>
                        <th width="50%">Product Details</th>
                        <th width="30%">Product Prices</th>
                    </tr>
                    <tr *ngFor="let tempCartItem of cartItems">
                        <td>
                            <img src="{{ tempCartItem.imageUrl }}" class="img-responsive" width="150px" />
                        </td>
                        <td>
                            <p>{{ tempCartItem.name }}</p>
                            <p>{{ tempCartItem.unitPrice | currency: "INR" }}</p>
                        </td>
                        <td>
                            <div class="items">
                                <label>Quantity: </label>
                                <div class="row no-gutters">
                                    <div class="col">
                                        <button (click)="incrementQuantity(tempCartItem)"
                                            class="btn btn-primary btn-sm">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>

                                    <div class="col ml-4 mr-2">
                                        {{ tempCartItem.quantity }}
                                    </div>

                                    <div class="col">
                                        <button (click)="decrementQuantity(tempCartItem)"
                                            class="btn btn-primary btn-sm">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                    <div class="col-8"></div>
                                </div>
                            </div>
                            <button mat-raised-button color="primary" (click)="remove(tempCartItem)" class="mt-2">
                                Remove
                            </button>
                            <p class="mt-2">
                                Subtotal:
                                {{
                                tempCartItem.quantity * tempCartItem.unitPrice
                                | currency: "INR"
                                }}
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td style="font-weight: bold">
                            <p>Total Quantity: {{ totalQuantity }}</p>
                            <p>Shipping : FREE</p>
                            <p>Total Price: {{ totalPrice | currency: "INR" }}</p>
                            <button (click)="isLoggedIn? goToCheckout():navToLogin()" mat-raised-button color="primary">Checkout</button>
                        </td>
                    </tr>
                </table>
            </div>

            <div *ngIf="cartItems.length == 0">
                <div class="container">
                    <img class="center" src="../../../../../assets/images/cart_empty.png" alt="" srcset="">
                    <!-- <div class="alert alert-warning" role="alert"> -->
                       <h2 style="text-align: center;"> Your, cart is empty</h2>
                      <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div style="height: 200px;">

</div>